{% extends "baseTemplate.html" %}

{% block title %}View Tapes{% endblock %}
{% block pageHeader %}Cassette Database {% endblock %}

{% block content %}

    {% if listOfTapes %}
        <ul>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Artists</th>
            <th>Labels</th>
        </tr>

        {% for tape in listOfTapes %}
        <tr>
        <td>
            {{ tape.title }}
        </td>
        <td>
            {{ tape.year }}
        </td>
        <td>
            {% for artist in tape.artists.all %}
                {{ artist.artistname }}
            {% endfor %}
        </td>
        <td>
            {% for label in tape.labels.all %}
                {{ label.labelname }}
            {% endfor %}
        </td>
        </tr>
        {% endfor %}
        </ul>
    {% else %}
        <h1>No Tapes!</h1>
    {% endif %}


{% endblock %}